@import "skeuos";

$button : rgb(152, 48, 236);
$button-light: rgba(151, 48, 236, 0.514);

.header {
    background-image: url("https://images.unsplash.com/photo-1576086213369-97a306d36557?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80");
    background-position: center;
    background-size: cover;
    padding: 5rem 0;
    font-family: "Cantarell", sans-serif;




    &__texts {
        color: rgb(253, 253, 253);
        text-align: center;

        &__title {
            font-size: 4em;
            margin-top: 1rem;
        }

        &__text {
            margin-top: -3rem;
        }
    }
}


.searchForm {
    display: flex;
    justify-content: center;
    padding: 1rem;

    .search-input {
        padding: .5rem 6rem;
    }

    .search-button {
        width: fit-content;
        padding: 1.5rem;
        background-color: $button;
        color: rgb(255, 255, 255);
        font-size: 1.4em;
        margin-left: 1rem;

        &:active {
            background-color: $button-light;
        }
    }
}

.main {
    &__radios {
        padding: 1rem;
        font-size: 1.3em;
    }

    .resultSection {
        padding-top: 1rem;
        padding-left: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 1.1em;
        }

        h2 {
            margin-top: -1rem;
            color: rgb(253, 34, 100);
        }

        h4 {
            color: rgb(117, 117, 117);
            margin-top: -2rem;
        }
    }
}