@import "skeuos";

$button : rgb(152, 48, 236);
$button-light: rgba(151, 48, 236, 0.514);

html, body {
    @media screen and (max-width: 900px) {
        font-size: 90%;
    }
}

.header {
    background-image: url("https://images.unsplash.com/photo-1576086213369-97a306d36557?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80");
    background-position: center;
    background-size: cover;
    padding: 5rem 0;
    font-family: "Cantarell", sans-serif;

    @media screen and (max-width: 700px) {
        font-size: 70%;
    }



    &__texts {
        color: rgb(253, 253, 253);
        text-align: center;

        &__title {
            font-size: 4em;
            margin-top: 1rem;
        }

        &__text {
            margin-top: -3rem;
        }
    }
}




.main {

    @media screen and (max-width: 700px) {
        font-size: 70%;
    }
    &__radios {
        padding: 1rem;
        font-size: 1.3em;
    }

    .searchForm {
        display: flex;
        justify-content: center;
        padding: 1rem;
    
        .search-input {
            padding: .5rem 6rem;

            @media screen and (max-width: 700px) {
                padding: .5rem 4rem;
            }
        }
    
        .search-button {
            width: fit-content;
            padding: 1.5rem;
            background-color: $button;
            color: rgb(255, 255, 255);
            font-size: 1.4em;
            margin-left: 1rem;
    
            &:active {
                background-color: $button-light;
            }
        }
    }
    .resultSection {
        display: flex;
        justify-content: center;


        &__text {
            text-align: center;


            h2 {
                margin-top: -1rem;
                color: rgb(253, 34, 100);
            }

            h4 {
                color: rgb(117, 117, 117);
                margin-top: -2rem;
            }
        }

        p {
            font-size: 1.1em;
        }


    }
}